<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> <!-- Any device look nice -->
        <title>ChallengeMe</title>
    </head>
    <body>
        <!--<h1>ChallengeMe Application</h1>-->
        <!--<p>Mode: <span th:text="${mode}"/></p>-->

        <div id="app"></div>
        <script th:src="${mode == 'development'} ? 'http://localhost:8000/main.js' : '/js/main.js'"></script>
    </body>
</html>